.footer__lista--fondo{
    background-color: #79B4B7;
    font-size: 1.4rem;
    height: 25vh;
    color: black;
}
.footer--marcas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 0.5em;
    img{
        max-height: 10vh;
        max-width: 9vw;
        width: auto;
        height: auto;
        padding-bottom: 0.5em;
        padding-left: 1em;
    }
}