* {
  margin: 0px;
  padding: 0px;
  font-family: 'Gemunu Libre', sans-serif;
}

/*paleta de colores https://colorhunt.co/palette/79b4b7fefbf3f8f0df9d9d9d*/
@media (max-width: 768px) {
  .header__navbar--lista {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
  }
  .header__navbar--logo img {
    max-width: 50px;
    max-height: 50px;
  }
  .header__navbar--lista a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
  }
  .article__lista--precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article__lista--precio img {
    max-width: 25vw;
    max-height: 25vh;
    border: solid;
  }
  .banner--main {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
  .main--fondo {
    background-color: #F8F0DF;
    min-height: 84vh;
    overflow: hidden;
  }
  .parrafo--main {
    text-align: center;
    padding: 0.5rem;
  }
  .section--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section--flex article img {
    max-width: 100vw;
    max-height: 50vh;
  }
  .main--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr  1fr;
        grid-template-rows: 1fr  1fr;
  }
  .main--contactanos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .div--contactanos {
    margin-right: 1rem;
  }
  .div--contactanos img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
  .section__h1--titulos {
    font-size: 2em;
    text-align: center;
  }
  .bottonz1 {
    position: relative;
    left: 72vw;
    bottom: 11vh;
    height: 3vh;
    width: 6.6vw;
  }
  .article__lista--precio-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5vh;
  }
  .article__lista--precio-2 h4 {
    padding-bottom: 0.5rem;
  }
  .bottones {
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .bottonz1:hover {
    background-color: #ff5100;
    cursor: pointer;
  }
  .bottones:hover {
    background-color: #ff5100;
    cursor: pointer;
  }
  .imagen {
    margin: 0.5rem;
  }
  .main--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr  1fr;
        grid-template-rows: 1fr  1fr;
  }
  .footer__lista--flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5vh;
  }
  .footer__lista--flex {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5vh;
  }
  .footer__lista--flex2 a {
    text-decoration: none;
    color: white;
    padding: 0.3rem;
  }
  .footer--general {
    display: none;
  }
  .lista {
    list-style: none;
  }
  .lista a {
    text-decoration: none;
    color: black;
  }
  .lista li {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .redes li {
    margin-top: 1rem;
  }
  .nombre {
    font-size: 0.7em;
    margin-left: 3.8rem;
  }
  .lista a:hover {
    color: grey;
  }
}

@media (min-width: 768px) {
  .collapse, .footersito {
    display: none;
  }
  .header {
    background-color: #79B4B7;
    height: 10vh;
    font-size: 1em;
  }
  .header__navbar--lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
  }
  .header__navbar--logo img {
    max-width: 50px;
    max-height: 50px;
  }
  .header__navbar--lista a {
    text-decoration: none;
    color: black;
  }
  .header__navbar--lista a:hover {
    color: grey;
    font-size: 1.4em;
  }
  .header__navbar--lista a:active {
    font-size: 0.9em;
  }
  .article__lista--precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article__lista--precio img {
    max-width: 30vw;
    max-height: 30vh;
    border: solid;
  }
  .banner--main {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
  .parrafo--main {
    text-align: center;
    padding: 0.5rem;
  }
  .main--fondo {
    background-color: #F8F0DF;
    min-height: 75vh;
    overflow: hidden;
  }
  .section--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article__h2--precio {
    border: solid;
    border-color: red;
    background-color: red;
    position: relative;
    max-width: 7.5rem;
    left: 72vw;
    bottom: 11vh;
  }
  .section--flex article img {
    max-width: 100vw;
    max-height: 50vh;
  }
  .section__h1--titulos {
    font-size: 2em;
    text-align: center;
  }
  .bottonz1 {
    position: relative;
    left: 72vw;
    bottom: 11vh;
    height: 3vh;
    width: 6.6vw;
  }
  .article__lista--precio-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    height: 5vh;
  }
  .article__lista--precio-2 h4 {
    padding-bottom: 0.5rem;
  }
  .formulario {
    padding: 1rem;
  }
  .parrafos {
    color: black;
    padding: 2rem;
    font-size: 2rem;
  }
  .imagen:hover {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  .bottones {
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .bottonz1:hover {
    background-color: #ff5100;
    cursor: pointer;
  }
  .bottones:hover {
    background-color: #ff5100;
    cursor: pointer;
  }
  .imagen {
    margin: 1rem;
  }
  .main--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr  1fr;
        grid-template-rows: 1fr  1fr;
  }
  .main--contactanos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .div--contactanos {
    margin: 1rem;
  }
  .div--contactanos img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
  .footer__lista--fondo {
    background-color: #79B4B7;
    font-size: 1.4rem;
    height: 15vh;
    color: black;
  }
  .footer--general {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 22% 25% 18% 35%;
        grid-template-columns: 22% 25% 18% 35%;
    -ms-grid-rows: 14.5vh;
        grid-template-rows: 14.5vh;
  }
  .footer--logo img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 2rem;
    margin-left: 5.5rem;
  }
  .imagen--google img {
    width: 30vw;
    height: 10vh;
    display: block;
  }
  .lista {
    list-style: none;
  }
  .lista a {
    text-decoration: none;
    color: black;
  }
  .lista li {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .redes li {
    margin-top: 1rem;
  }
  .nombre {
    font-size: 0.7em;
    margin-left: 3.8rem;
  }
  .lista a:hover {
    color: grey;
  }
}

@media (min-width: 1024px) {
  .collapse, .footersito {
    display: none;
  }
  .header {
    background-color: #79B4B7;
    height: 10vh;
    font-size: 1.4rem;
  }
  .header__navbar--lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
  }
  .header__navbar--lista a:hover {
    color: grey;
    font-size: 1em;
  }
  .header__navbar--logo img {
    max-width: 50px;
    max-height: 50px;
  }
  .header__navbar--lista a {
    text-decoration: none;
    color: black;
  }
  .header__navbar--lista a:active {
    font-size: 0.9em;
  }
  .article__lista--precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article__lista--precio img {
    max-width: 30vw;
    max-height: 30vh;
    border: solid;
  }
  .banner--main {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
  .parrafo--main {
    text-align: center;
    padding: 0.5rem;
  }
  .main--fondo {
    background-color: #F8F0DF;
    min-height: 75vh;
    overflow: hidden;
  }
  .section--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article__h2--precio {
    border: solid;
    border-color: red;
    background-color: red;
    position: relative;
    max-width: 7.5rem;
    left: 72vw;
    bottom: 11vh;
  }
  .section--flex article img {
    max-width: 100vw;
    max-height: 50vh;
  }
  .section__h1--titulo {
    font-size: 3rem;
  }
  .section__h1--titulos {
    font-size: 3rem;
    text-align: center;
  }
  .bottonz1 {
    position: relative;
    left: 72vw;
    bottom: 11vh;
    height: 3vh;
    width: 6.6vw;
  }
  .article__lista--precio-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5vh;
  }
  .article__lista--precio-2 h4 {
    padding-bottom: 0.5rem;
  }
  .formulario {
    padding: 1rem;
  }
  .parrafos {
    color: black;
    padding: 2rem;
    font-size: 2rem;
  }
  .imagen:hover {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  .bottones {
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .bottonz1:hover {
    background-color: #ff5100;
    cursor: pointer;
  }
  .bottones:hover {
    background-color: #ff5100;
    cursor: pointer;
  }
  .imagen {
    margin: 1rem;
  }
  .main--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr  1fr;
        grid-template-rows: 1fr  1fr;
  }
  .footer__lista--fondo {
    background-color: #79B4B7;
    font-size: 1.4rem;
    height: 15.5vh;
    color: black;
  }
  .footer--general {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 22% 25% 18% 35%;
        grid-template-columns: 22% 25% 18% 35%;
    -ms-grid-rows: 14.5vh;
        grid-template-rows: 14.5vh;
  }
  .footer--logo img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 2rem;
    margin-left: 5.5rem;
  }
  .imagen--google img {
    width: 30vw;
    height: 11vh;
    display: block;
  }
  .lista {
    list-style: none;
  }
  .lista a {
    text-decoration: none;
  }
  .lista li {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  .redes li {
    margin-top: 1.2rem;
  }
  .nombre {
    font-size: 0.7em;
    margin-left: 3.8rem;
  }
  .lista a:hover {
    color: grey;
  }
}

@media (max-height: 790px) and (min-width: 768px) {
  .footer__lista--fondo {
    height: 22vh;
  }
  .main--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr  1fr;
        grid-template-rows: 1fr  1fr;
  }
}

@media (max-width: 350px) {
  .article__lista--precio-2 li h4 {
    font-size: 1em;
  }
}

@media (min-height: 700px) and (min-width: 1024px) {
  .footer__lista--fondo {
    height: 20vh;
  }
}
/*# sourceMappingURL=styles.css.map */