* {
  margin: 0px;
  padding: 0px;
  font-family: 'Gemunu Libre', sans-serif;
}

@media (max-width: 768px) and (max-height: 900px) {
  .header__navbar--lista {
    display: none;
  }
  .header__navbar--logo img {
    max-width: 50px;
    max-height: 50px;
  }
  .article__lista--precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1vh;
  }
  .article__lista--precio img {
    max-width: 25vw;
    max-height: 25vh;
    border: solid;
    border-radius: 0.5em;
  }
  .article__lista--precio-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
    padding: 0px;
  }
  .article__lista--precio-2 li h4 {
    font-size: 1em;
  }
  .banner--main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .banner--main img {
    width: 100%;
  }
  .main--fondo {
    background-color: #F8F0DF;
    min-height: 90vh;
    overflow: hidden;
  }
  .parrafo--main {
    text-align: center;
    padding: 0.5rem;
  }
  .main--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr  1fr;
        grid-template-rows: 1fr  1fr;
  }
  .div--contactanos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vh;
  }
  .div--contactanos img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
  .final--main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .envios {
    font-size: 3em;
  }
  .pagos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    font-size: 1.5em;
    padding-top: 1vh;
  }
  .estrellas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1.5em;
    font-size: 1em;
  }
  .final--p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.9em;
    text-align: center;
    padding: 1em;
  }
  .section__h1--titulos {
    font-size: 2em;
    text-align: center;
  }
  .bottones {
    color: black;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
  .bottones:hover {
    background-color: black;
    cursor: pointer;
    color: white;
  }
  .footer__lista--flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5vh;
    padding: 0px;
  }
  .footer__lista--flex2 a {
    text-decoration: none;
    color: white;
    padding: 0.3rem;
  }
  .footer--general {
    display: none;
  }
  .lista {
    list-style: none;
  }
  .lista a {
    text-decoration: none;
    color: black;
  }
  .redes {
    padding: 1vh;
  }
  .redes li {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .footersito {
    display: none;
  }
  .header {
    background-color: #79B4B7;
    height: 10vh;
    font-size: 1em;
  }
  .header__navbar--lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
  }
  .header__navbar--logo img {
    max-width: 50px;
    max-height: 50px;
  }
  .header__navbar--lista a {
    text-decoration: none;
    color: black;
  }
  .header__navbar--lista a:hover {
    color: grey;
    font-size: 1.4em;
  }
  .header__navbar--lista a:active {
    font-size: 0.9em;
  }
  .article__lista--precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1vh;
  }
  .article__lista--precio img {
    max-width: 25vw;
    max-height: 25vh;
    border: solid;
    border-radius: 0.5em;
  }
  .banner--main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .banner--main img {
    width: 100%;
  }
  .parrafo--main {
    text-align: center;
    padding: 0.5rem;
  }
  .main--fondo {
    background-color: #F8F0DF;
    min-height: 80vh;
  }
  .final--main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .envios {
    font-size: 8em;
  }
  .pagos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    font-size: 4em;
    padding-top: 4vh;
  }
  .estrellas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1.5em;
    font-size: 3em;
  }
  .final--p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5em;
    text-align: center;
  }
  .footer--marcas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  .footer--marcas img {
    width: 6vw;
    height: 6vh;
    padding-top: 0.5em;
  }
  .section__h1--titulos {
    font-size: 2em;
    text-align: center;
  }
  .article__lista--precio-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
    padding: 0px;
  }
  .imagen:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .bottones {
    color: black;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
  .bottones:hover {
    background-color: #53c0bb;
    cursor: pointer;
    color: white;
  }
  .main--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr  1fr;
        grid-template-rows: 1fr  1fr;
  }
  .div--contactanos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vh;
    margin: 1rem;
  }
  .div--contactanos img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
  .footer--marcas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding-top: 0.5em;
  }
  .footer--marcas img {
    max-height: 8vh;
    max-width: 6vw;
    width: auto;
    height: auto;
    padding-bottom: 0.5em;
  }
  .main--contactanos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .footer__lista--fondo {
    background-color: #79B4B7;
    font-size: 1.4rem;
    height: 18.5vh;
    color: black;
  }
  .footer--general {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 22% 25% 18% 35%;
        grid-template-columns: 22% 25% 18% 35%;
    -ms-grid-rows: 14.5vh;
        grid-template-rows: 14.5vh;
  }
  .footer--logo img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 2rem;
    margin-left: 5.5rem;
  }
  .imagen--google img {
    width: 30vw;
    height: 10vh;
    display: block;
  }
  .lista {
    list-style: none;
    padding: 0em;
  }
  .lista a {
    text-decoration: none;
    color: black;
  }
  .lista li {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .lista a:hover {
    color: grey;
  }
  .redes li {
    margin-top: 0.5rem;
  }
  .nombre {
    font-size: 0.7em;
    margin-left: 3.8rem;
  }
  .lista--contactanos {
    padding: 1vh;
  }
}

@media (min-width: 768px) and (max-height: 700px) {
  .footer__lista--fondo {
    background-color: #79B4B7;
    font-size: 1.4rem;
    height: 27vh;
    color: black;
  }
}

@media (min-width: 1024px) {
  .footersito {
    display: none;
  }
  .header {
    background-color: #79B4B7;
    height: 10vh;
    font-size: 1.4rem;
  }
  .header__navbar--lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
  }
  .header__navbar--lista a:hover {
    color: grey;
    font-size: 1em;
  }
  .header__navbar--logo img {
    max-width: 50px;
    max-height: 50px;
  }
  .header__navbar--lista a {
    text-decoration: none;
    color: black;
  }
  .header__navbar--lista a:active {
    font-size: 0.9em;
  }
  .article__lista--precio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1vh;
  }
  .article__lista--precio img {
    max-width: 29vw;
    max-height: 29vh;
    border: solid;
    border-radius: 0.5em;
  }
  .banner--main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .banner--main img {
    width: 100%;
  }
  .parrafo--main {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
  }
  .main--fondo {
    background-color: #F8F0DF;
    min-height: 90vh;
  }
  .section__h1--titulos {
    font-size: 3em;
    text-align: center;
  }
  .article__lista--precio-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    text-align: center;
    padding: 0px;
  }
  .imagen:hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .bottones {
    color: black;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
  .bottones:hover {
    background-color: #53c0bb;
    cursor: pointer;
    color: white;
  }
  .main--grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr  1fr;
        grid-template-rows: 1fr  1fr;
  }
  .div--contactanos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1vh;
    margin: 1rem;
  }
  .div--contactanos img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }
  .main--contactanos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .final--main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }
  .envios {
    font-size: 12em;
  }
  .pagos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    font-size: 7em;
    padding-top: 4vh;
  }
  .estrellas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1em;
    font-size: 5em;
  }
  .final--p {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.5em;
    text-align: center;
  }
  .footer--marcas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding-top: 0.5em;
  }
  .footer--marcas img {
    max-height: 8vh;
    max-width: 6vw;
    width: auto;
    height: auto;
    padding-bottom: 0.5em;
  }
  .footer__lista--fondo {
    background-color: #79B4B7;
    font-size: 1.4rem;
    height: 18vh;
    color: black;
  }
  .footer--general {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% 32% 18% 35%;
        grid-template-columns: 15% 32% 18% 35%;
    -ms-grid-rows: 14.5vh;
        grid-template-rows: 14.5vh;
  }
  .footer--logo img {
    max-width: 50px;
    max-height: 50px;
    margin-top: 2rem;
    margin-left: 5.5rem;
  }
  .imagen--google img {
    width: 30vw;
    height: 10vh;
    display: block;
  }
  .lista {
    list-style: none;
  }
  .lista a {
    text-decoration: none;
    color: black;
  }
  .lista li {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .lista a:hover {
    color: grey;
  }
  .redes li {
    margin-top: 0.7rem;
  }
  .nombre {
    font-size: 0.7em;
    margin-left: 3.8rem;
  }
  .lista--contactanos {
    padding: 1vh;
  }
}

@media (min-width: 1024px) and (max-height: 750px) {
  .footer__lista--fondo {
    background-color: #79B4B7;
    font-size: 1.4rem;
    height: 25vh;
    color: black;
  }
  .footer--marcas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    padding-top: 0.5em;
  }
  .footer--marcas img {
    max-height: 10vh;
    max-width: 9vw;
    width: auto;
    height: auto;
    padding-bottom: 0.5em;
    padding-left: 1em;
  }
}
/*# sourceMappingURL=styles.css.map */