*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gemunu Libre', sans-serif;
}
@media (max-width:768px)and(max-height:900px){
    @import "mobile";
}
@media (min-width:768px) {
    @import "tablet";
}
@media (min-width:768px) and (max-height:700px){
    @import "tablet2";
}
@media (min-width:1024px){
    @import "escritorio";
}
@media (min-width:1024px) and (max-height:750px){
    @import "escritorio2";
}


